.flex-container{
    display: flex;
    flex-direction: column;
}
header > img{
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
}
nav{
    display: flex;
    height: auto;
    justify-content: space-around;
}
.nav-items{
width: 10rem;
height: 3.5rem;
border-radius: 10px;
border-style: solid;
transition: all .2s ease-in-out;
display: block;
margin-top: 2rem;

}
.nav-items:hover{
transform: scale(1.1);
}

p, h1{
    margin-left: 10%;
    margin-right: 10%;

}
p > section{
    margin-top: 10px;
}
section{
width: 100%;
background-color: #d70021;
border-radius: 10px;
}
