.flex-container {
  display: flex;
  flex-direction: column;
}
header > img {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
}
nav {
  display: flex;
  height: auto;
  justify-content: space-around;
}
.nav-items {
  width: 75%;
  height: 3.5rem;
  border-radius: 10px;
  border-style: solid;
  transition: all 0.2s ease-in-out;
  display: block;
  margin-top: 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  border-color: black;
  color: black;
}
.nav-items:hover {
  transform: scale(1.1);
}

p,
h1 {
  margin-left: 10%;
  margin-right: 10%;
}
p > section {
  margin-top: 10px;
}
section {
  width: 100%;
  background-color: #bfbfbf;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 550px) {
  .nav-items {
    float: left;
    display: inline;
  }
  nav {
    align-items: flex-start;
  }
}
