.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header > img {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
section {
  display: flex;
  align-items: center;
  flex-direction: inherit;
  background-color: rgba(191, 191, 191, 1);
  margin: 3% 12% 0 12%;
  border-radius: 10px;
}
section > i {
  display: block;
  width: 25%;
  min-width: 75%;
}
h2 {
  margin-bottom: 0;
}
nav {
  display: flex;
  height: auto;
  justify-content: space-around;
}
ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.burger-pic {
  display: flex;
  flex-direction: inherit;
  align-items: center;
}
.burger-pic > img {
  width: 75%;

  border-radius: 10px;
  margin-top: 10%;
}

.nav-items {
  width: 60%;
  height: 3.5rem;
  border-radius: 10px;
  border-style: solid;
  transition: all 0.2s ease-in-out;
  display: block;
  margin-top: 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
}
.nav-items:hover {
  transform: scale(1.1);
}
