@font-face {
  font-family: shredded;
  src: url("shredded.ttf") format(truetype);
}
html {
  scroll-behavior: smooth;
}
body {
  background: rgb(2, 0, 27);
}
header > img {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  background-color: rgb(15, 15, 15);
}
h3 {
  font-family: shredded, sans-serif;
  color: white;
  font-size: xxx-large;
  margin: 0;
}
#burger-background {
  width: 100%;
  position: absolute;
  z-index: -2;
}
#trim {
  max-height: 100%;
  max-width: 1px;
  overflow: hidden;
}
#flex-container img {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  position: relative;
  z-index: -1;
}
#flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  position: relative;
  padding-bottom: 45.5%;
  padding-top: 25%;
}
#flex-container img {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  position: absolute;
  top: 0;
}
p {
  font-family: "Montserrat", Sans-serif;
}
div {
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1000000px inset;
}
section > i {
  display: block;
  width: 25%;
  min-width: 75%;
}
#burger-row p {
  color: white;
  margin: 0;
}
.burger-pic section {
  display: flex;
  align-items: center;
  flex-direction: inherit;
  background-color: #ffeaae;
  margin: 3% 12% 0 12%;
  border-radius: 10px;
}
h2 {
  margin-bottom: 0;
}
nav {
  display: flex;
  height: auto;
  justify-content: space-around;
}
ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.burger-pic {
  display: flex;
  flex-direction: inherit;
  align-items: center;
}
.burger-pic > img {
  width: 75%;

  border-radius: 10px;
  margin-top: 10%;
}

.nav-items {
  width: 75%;
  height: 3.5rem;
  border-radius: 10px;
  border-style: solid;
  transition: all 0.2s ease-in-out;
  display: block;
  margin-top: 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  border-color: white;
  color: white;
}
.nav-items:hover {
  transform: scale(1.1);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#burger-row {
  background-color: #182d35;
  width: 100%;
  height: 10em;
}
footer {
  color: white;
}

@media (min-width: 650px) {
  header > img {
    width: 25%;
    max-height: 200px;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(15, 15, 15);
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
  li {
    width: 33%;
    order: 3;
  }
  #restaurant {
    position: absolute;
    z-index: -1;
    width: -moz-available;
  }
  #flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 21.5%;
    flex-direction: row;
    padding-bottom: 21.5%;
  }
  #flex-container img {
    top: 0;
  }
  #burger-row {
    background-color: #182d35;
    width: 100%;
    height: 7em;
  }
  .burger-pic {
    flex-direction: column;
  }
  #borgir-logo img {
    width: 17%;
  }
  #burger-background {
    background-position: center;
    object-fit: cover;
    max-height: 97%;
  }
  .nav-items {
    width: 25%;
  }
}
